.my-3{
    padding-top: 50px;
}

.my-3 p{
    text-align: center;
    font-size: 46px;
    line-height: 1px;
    padding: 40px;

}
.my-3 .formInput{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
} 
.my-3 .label{
    font-size: 18px;
    letter-spacing: 3px;
    
    
}
.my-3 input{
    width: 500px !important;
    height: 45px;
    max-width: 100%;
    padding: 0px 5px;
    border-radius: 1px;
}
.my-3 a{
    text-decoration: underline;
    padding: 10px;
    color: black;
    cursor: pointer;
    display: block;
    
}
.my-3 .s-btn{
    color: white;
    background-color: black;
    width: 35%;
    height: 50px;
    transition: var(--main-transiton);
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.my-3 .s-btn:hover{
    background-color: rgba(0, 0, 0, 0.806);
}