.Card {
    flex: 1 0 50%; /* 2 products per row on small screens */
    max-width: 50%;
  }
  
  @media (min-width: 768px) {
    .Card {
      flex: 1 0 25%; /* 4 products per row on normal screens */
      max-width: 25%;
    }
  }
/* style={{ width: '20rem' }} */
