.product-page{
    height: calc(100vh - 61px);
    overflow-y: scroll;
}


.product-page .landing {
    padding: 20px 120px 0px 20px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color); 
}

@media(max-width:500px)
{
    .product-page .girl {
        display: none;
    }
}

.product-page .landing h4{
color: var(--font-color);
width: 500px;
font-size: 50px;
font-weight: bold;
}


@media(max-width:500px)
{
    .product-page .landing h4{
        font-size: 25px;
        text-align: center;
        width: 100%;
    }
    .product-page .landing{
        padding: 36px 20px;
    }
}

.product-page .product-secition{
    padding: 20px;
    padding-right: 0px;
    padding-bottom: 80px;
}

.product-page .product-secition .product-section-top{
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-page .product-secition .product-section-top button{
    background-color: var(--font-color);
    border-radius: 25px;
    color: white;
    border: none;
    padding: 12px 24px;
    font-weight: 400;
    transition: .3s;
}

@media(max-width : 500px)
{
    .product-page .product-secition .product-section-top button{
        padding: 6px 10px;
        font-size: 15px;
    }
}
.product-page .product-secition .product-section-top button:hover{
    background-color: rgb(80 119 255 / 60%);
}

.product-page .product-secition h3{
    margin-top: 20px;
    font-weight: 900;
}

.product-page .product-secition .all-product{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

@media(max-width:500px)
{
    .product-page .product-secition .all-product{
        flex-direction: column;
        align-items: center;
    }
}


/* Start Product Item  */

.product-secition .product-card  {
    /* margin-right: 30px;
    margin-bottom: 30px; */
    cursor: pointer;
    width: 210px;
    transition: .3s;
    padding: 15px 10px  ;
    margin-right: 20px;
    height: 385px;
}

.product-secition .product-card:hover{
transform: scale(1.04);
box-shadow: 1px 1px 10px #EEE;
}

/* .product-secition .product-card:hover .image   {
transform: scale(1.1);
} */


.product-secition .product-card .image {
background-color: #f5f6f6;
border-radius: 6px;
display: flex ;
justify-content: center;
transition: .3s;
align-items: center;
}


.product-secition .product-card .image img{
    width: 200px;
    height: 170px;
    transition: .3s
}


.product-secition .product-card  .titles {
display: flex;
align-items: center;
justify-content: space-between;
}




.product-secition .product-card .des{
    color: #acaaaa;
    font-size: 13px;
    font-weight: 500;
    width: 100%;
}

.product-secition .product-card  .titles h3{
    font-size: 21px;
}

.product-secition .product-card  .titles .price{
    font-weight: bold;
}

.product-secition .product-card .avaiable .in-stock{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-top: 10px;    
}

.product-secition .product-card .rate-con{
    color: #e0dfdf;
    font-weight: 300;
    font-size: 13px;
}

.product-secition .product-card .rate-con img{
    width: 15px;
    height: 15px;
    margin-right: 8px;
}

.product-secition .product-card .avaiable .out-stock{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-top: 10px;

}

.product-secition .product-card .avaiable .in-stock span{
    width: 10px ;
    height: 10px;
    background-color:#5cd00f;
    display: block;
    border-radius: 50%;
    margin-right: 10px;
}

.product-secition .product-card .avaiable .out-stock span{

    width: 10px ;
    height: 10px;
    background-color:#E13409;
    display: block;
    border-radius: 50%;
    margin-right: 10px;
}


.add-product{
    padding-top: 40px;
    height: 550px;
    overflow-y: scroll;
    max-width: 100%;
}

/* End Product Item  */


/* Start Specifi Product  */

.product-details{
    display: flex;
    align-items: center;
    padding: 30px ;
}

.product-details .image{
    margin-right: 50px;
}

.product-details .image img{
    display: block;
}


.product-details .details{
    width: 50%;

}


.product-details .details h3{
font-size: 40px;
}

.product-details .details p.price{
    font-size: 25px;
    font-weight: bold;
    border-left: 4px solid red;
    padding: 0px 10px;
    margin: 20px 0px;
}

.product-details .details p.detail{
    color: #acaaaa;
    font-size: 15px;
    font-weight: 400;
}

.product-details .details .rate-con img{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.product-details .details .rate-con {
    color: #dfdddd;
    font-size: 14px;
}

.product-details .details .available span.ball{
width: 10px ;
height: 10px;
border-radius: 50%;
}
.product-details .details .available .in-stock{
    display: flex;
    align-items: center;
}
.product-details .details .available .in-stock span{
    display: block;
    background-color:#5cd00f;
    margin-right: 10px;
}

.product-details .details .available .out-stock{
    display: flex;
    align-items: center;
}

.product-details .details .available .out-stock span{
    display: block;
    background-color:red;
    margin-right: 10px;
}

/* End Specifi Product  */