.my-3 p{
    text-align: center;
    font-size: 46px;
    line-height: 1px;
    padding: 40px;

}
.formInput{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

} 
.label{
    font-size: 18px;
    letter-spacing: 3px;

}
.my-3 input{
    width: 45%;
    height: 45px;
}
.my-3 h6{
    text-decoration: underline;
    margin-left: 25%;
    padding: 10px;
}
.my-3 button{
    color: white;
    background-color: black;
    width: 35%;
    height: 50px;
    padding: 10px;
    margin: 10px;
}