.send-email{
    width: 400px;
    margin: 80px auto 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.send-email h3{
    text-align: center;
}

.send-email p{
    font-size: 15px;
    margin-top: 50px;
}

.send-email label{
    display: block;
    margin-bottom: 8px;
}

.send-email input{
    border: 1px solid #eee;
    padding: 8px 14px;
    width: 99%;
    display: block;
    border-radius: 6px;
}

.send-email input:focus{outline: none;}

.send-email .con-btn{
    background-color: #5369d6;
    color: white;
    width: 99%;
    margin-top: 12px;
    border: none;
    display: block !important;
    padding: 14px 23px;
    border-radius: 8px;
    transition: var(--main-transiton);
    font-weight: bold;
}

.send-email .con-btn:hover{
    background-color: #5369d6dc;

}